<ul class="navbar-nav">
<li ngbDropdown #myDrop="ngbDropdown" class="nav-item dropdown" *ngFor="let category of categories">
  <a (mouseover)="myDrop.open()"  class="nav-link" [routerLink]="['/products', category.code]">
    {{ category.name }}
  </a>
  <div (mouseleave)="myDrop.close()" ngbDropdownMenu class="" aria-labelledby="navbarDropdown">
    <a ngbDropdownItem href="#" *ngFor="let subCategory of category.childCategories"
       [routerLink]="['/products', subCategory.code]">
      {{ subCategory.name }}
    </a>
  </div>
</li>
</ul>
