<nav class="d-flex flex-row-reverse">
  <div ngbDropdown class="d-inline-block">

    <button class="btn btn-outline-primary" ngbDropdownToggle>
      {{getSelectedSortingName(sortingList)}}
    </button>
    <div ngbDropdownMenu class="nav-item dropdown">
      <div *ngFor="let sorting of sortingList">
        <a ngbDropdownItem
           [ngClass]="{'active' : sortingIsSelected(sorting)}" [routerLink]="[]"
           [queryParams]="{'sorting' : sorting.code}">
          {{sorting.name}}
        </a>
      </div>
    </div>
  </div>
</nav>
